<!-- Backdrop -->
<div class="backdrop" *ngIf="open"></div>

<!-- Change Password Modal -->
<dialog class="modal-box" id="forgotPasswordModal" [open]="open">

    <!-- Step 1: Forgot Password -->
    <div *ngIf="step === 'forget'">
        <h3 class="modal-title">Forgot Password</h3>
        
        <!-- Form for forgot password -->
        <form (ngSubmit)="forgotPassword(emailForm)" #emailForm="ngForm">

            <div class="form-Group">
                <label for="email">Enter your email address</label>
                <input 
                    class="form-control" 
                    type="email" 
                    name="email" 
                    id="forgotPassword" 
                    required 
                    email
                    minlength="3"
                    maxlength="50"
                    [(ngModel)]="email"
                    #emailCtrl="ngModel"
                    [class.invalid]="emailCtrl.invalid && (emailCtrl.dirty || emailCtrl.touched)"
                >
                <div class="text-red text-xs" *ngIf="emailCtrl.invalid && (emailCtrl.dirty || emailCtrl.touched || emailForm.submitted)">
                    <div *ngIf="emailCtrl.errors?.['required']">Email is required</div>
                    <div *ngIf="emailCtrl.errors?.['email']">Invalid email format</div>
                    <div *ngIf="emailCtrl.errors?.['maxlength']">Email cannot be more than 50 characters long</div>
                </div>
                
            </div>           
            
            <!-- Modal Actions -->
            <div class="modal-action">
                <button class="btn bg-cyan" type="submit">Continue</button>
                <button class="btn bg-red" type="button" (click)="closeModal()">Cancel</button>
            </div>
        </form>
    </div>


    <!-- Step 2: Verify OTP -->
    <div class="" *ngIf="step === 'verify'">
        <div class="flex justify-between">
            <h3 class="text-lg font-semibold mb-4">Verification code</h3>
            <!-- <span class="text-red text-xs">Attempts remaining: <strong>{{ maxAttempts - attempts }}</strong></span> -->
        </div>

        <!-- Form for forgot password -->
        <form (ngSubmit)="verify(otpForm)" #otpForm="ngForm">
            <div class="form-Group mb-4">
                <p>Enter the verification code sent to your email:</p>
                <input 
                    class="p-2 bg-[#f1f1f1] rounded-md outline-none w-full" 
                    type="text" 
                    name="otp" 
                    id="otp" 
                    required 
                    minlength="6"
                    maxlength="6"
                    pattern="^[0-9]{6}$"
                    [(ngModel)]="otp"
                    #otpCtrl="ngModel"
                    [class.invalid]="otpCtrl.invalid && (otpCtrl.dirty || otpCtrl.touched)"
                    (input)="validateNumericInput($event)"
                >
                <div class="text-red text-xs" *ngIf="otpCtrl.invalid && (otpCtrl.dirty || otpCtrl.touched || otpForm.submitted)">
                    <div *ngIf="otpCtrl.errors?.['required']">OTP is required</div>
                    <div *ngIf="otpCtrl.errors?.['minlength']">OTP must be 6 characters long</div>
                    <div *ngIf="otpCtrl.errors?.['maxlength']">OTP cannot be more than 6 characters long</div>
                    <div *ngIf="otpCtrl.errors?.['pattern']">OTP must be a 6 diget numeric</div>
                </div>
            </div>  
            <div class="flex justify-between">
                <button class="text-blue text-xs" type="button" (click)="resendCode()">Resend Code</button>                  
                <span class=" text-red text-xs" *ngIf="countdown > 0">OTP expires in: {{ countdown }}</span>
                <span class=" text-red text-xs" *ngIf="countdown <= 0">OTP has expired</span>
            </div>
            
            <!-- Actions buttons -->
            <div class="mt-6 flex justify-end gap-2">
                <button class="btn bg-cyan" type="submit" [disabled]="isContinueDisabled">Continue</button>
                <button class="btn bg-red" type="button" (click)="closeModal()">Cancel</button>
            </div>
        </form>

    </div>




    <!-- Step 3: Reset Password -->
    <div class="" *ngIf="step === 'reset'">
        <h3 class="text-lg font-semibold mb-4">Reset Password</h3>
        <!-- Form for forgot password -->
        <form (ngSubmit)="resetPassword(passwordForm)" #passwordForm="ngForm">
            
            <div class="form-Group mb-4">
                <p>Enter your new password</p>
                <input 
                    class="p-2 bg-[#f1f1f1] rounded-md outline-none w-full" 
                    type="password" 
                    name="newPassword" 
                    id="newPassword" 
                    required 
                    minlength="6"
                    maxlength="50"
                    pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{6,50}$"
                    #newPasswordCtrl="ngModel"
                    [class.invalid]="newPasswordCtrl.invalid && (newPasswordCtrl.dirty || newPasswordCtrl.touched || passwordForm.submitted)"
                    [(ngModel)]="newPassword"
                >

                <div class="text-red text-xs" *ngIf="newPasswordCtrl.invalid && (newPasswordCtrl.dirty || newPasswordCtrl.touched)">
                    <div *ngIf="newPasswordCtrl.errors?.['required']">Password is required</div>
                    <div *ngIf="newPasswordCtrl.errors?.['minlength']">Password must be at least 6 characters long</div>
                    <div *ngIf="newPasswordCtrl.errors?.['maxlength']">Password cannot be more than 50 characters long</div>
                    <div *ngIf="newPasswordCtrl.errors?.['pattern']">Password must be at least 1 number, 1 uppercase letter, 1 lowercase letter, 1 special character</div>
                    <div *ngIf="showInvalidOTPMessage">Invalid OTP</div>

                </div>
            </div>           
            <div class="form-Group mb-4">
                <p>Confirm new password</p>
                <input class="p-2 bg-[#f1f1f1] rounded-md outline-none w-full" type="password" name="confirmPassword" id="confirmPassword" required [(ngModel)]="confirmPassword">
            </div>           
            
            <!-- Actions buttons -->
            <div class="mt-6 flex justify-end gap-2">
                <!-- Submit button for changing password -->
                <button class="btn bg-cyan" type="submit">Continue</button>
                <!-- Cancel button to close the modal -->
                <button class="btn bg-red" type="button" (click)="closeModal()">Cancel</button>
            </div>
        </form>
    </div>

</dialog>

