
/* Forgot password modal CSS */
.modal-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
/* Forgot password modal CSS ends here */


/* Modal title CSS */
.modal-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}
/* Modal title CSS ends here */


.form-Group {
    gap: 10px;
    margin-bottom: 20px;
}

.form-Group label {
    font-weight: bold;
}

.form-Group input {
    flex: 1;
    padding: 10px;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    background: #f1f1f1;
    width: 100%;
}


/* Backdrop styles */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
}
/* Backdrop styles ends here */

