<!-- Backdrop -->
<div class="backdrop" *ngIf="open"></div>

<!-- Change Password Modal -->
<dialog class="modal-box" id="forgotPasswordModal" [open]="open">
    <div>
        <h3 class="modal-title">Forgot Password</h3>
        
        <!-- Form for forgot password -->
        <form (ngSubmit)="forgotPassword(emailForm)" #emailForm="ngForm">

            <div class="form-Group">
                <label>Enter your email address</label>
                <input class="form-control" type="email" name="forgotPassword" id="forgotPassword" required ngModel>
            </div>           
            
            <!-- Modal Actions -->
            <div class="modal-action">
                <!-- Submit button for changing password -->
                <button class="btn bg-cyan" type="submit">Continue</button>
                <!-- <button class="btn bg-cyan" type="submit" href="/reset-password">Continue</button> -->
                <!-- Cancel button to close the modal -->
                <button class="btn bg-red" type="button" (click)="closeModal()">Cancel</button>
            </div>
        </form>

    </div>
</dialog>

