<!-- Backdrop -->
<div class="backdrop" *ngIf="open"></div>

<!-- Change Password Modal -->
<dialog class="modal-box" id="forgotPasswordModal" [open]="open">

    <div *ngIf="step === 'forget'">
        <h3 class="modal-title">Forgot Password</h3>
        
        <!-- Form for forgot password -->
        <form (ngSubmit)="forgotPassword(emailForm)" #emailForm="ngForm">

            <div class="form-Group">
                <label>Enter your email address</label>
                <input class="form-control" type="email" name="email" id="forgotPassword" required [(ngModel)]="email">
            </div>           
            
            <!-- Modal Actions -->
            <div class="modal-action">
                <!-- Submit button for changing password -->
                <button class="btn bg-cyan" type="submit">Continue</button>
                <!-- <button class="btn bg-cyan" type="submit" href="/reset-password">Continue</button> -->
                <!-- Cancel button to close the modal -->
                <button class="btn bg-red" type="button" (click)="closeModal()">Cancel</button>
            </div>
        </form>
    </div>


    
    <div class="" *ngIf="step === 'verify'">
        <div class="flex justify-between">
            <h3 class="text-lg font-semibold mb-4">Verification code</h3>
            <span class="text-red text-xs">Attempts remaining: <strong>3</strong></span>

        </div>
        <!-- Form for forgot password -->
        <form (ngSubmit)="verify()">
            <div class="form-Group mb-4">
                <p>Enter the verification code sent to your email:</p>
                <input class="p-2 bg-[#f1f1f1] rounded-md outline-none w-full" type="text" name="otp" id="otp" [(ngModel)]="otp">
            </div>  
            <div class="flex justify-between">
                <button class="text-blue text-xs" type="button" (click)="resendCode()">Resend Code</button>                  
                <span class=" text-red text-xs">10:00</span>
            </div>
            
            <!-- Actions buttons -->
            <div class="mt-6 flex justify-end gap-2">
                <!-- Submit button for changing password -->
                <button class="btn bg-cyan" type="submit">Continue</button>
                <!-- <button class="btn bg-cyan" type="submit">Continue</button> -->
                <!-- Cancel button to close the modal -->
                <a class="btn bg-red" type="button" routerLink="/login">Cancel</a>
            </div>
        </form>

    </div>



        
    <div class="" *ngIf="step === 'reset'">
        <h3 class="text-lg font-semibold mb-4">Reset Password</h3>
        <!-- Form for forgot password -->
        <form (ngSubmit)="resetPassword(passwordForm)" #passwordForm="ngForm">
            
            <div class="form-Group mb-4">
                <p>Enter your new password</p>
                <input class="p-2 bg-[#f1f1f1] rounded-md outline-none w-full" type="password" name="newPassword" id="newPassword" required [(ngModel)]="newPassword">
            </div>           
            <div class="form-Group mb-4">
                <p>Confirm new password</p>
                <input class="p-2 bg-[#f1f1f1] rounded-md outline-none w-full" type="password" name="confirmPassword" id="confirmPassword" required [(ngModel)]="confirmPassword">
            </div>           
            
            <!-- Actions buttons -->
            <div class="mt-6 flex justify-end gap-2">
                <!-- Submit button for changing password -->
                <button class="btn bg-cyan" type="submit">Continue</button>
                <!-- Cancel button to close the modal -->
                <a class="btn bg-red" type="button" href="/login">Cancel</a>
            </div>
        </form>
    </div>

</dialog>

