<aside class="h-screen bg-dark-gray w-[200px] fixed p-8">
    <div>
        <img src="assets/images/logo.png" alt="logo" />
    </div>

    <ul class="text-off-white">
        <li>
            <a routerLink="/all-items" class="mb-8 flex justify-between">
                <div>
                    <i class="fa-solid fa-shield"></i>
                    All Items
                </div>
                <span>10</span>
            </a>
        </li>
        
        <li><a routerLink="/favorites" class="mb-8">Favorites</a></li>
        <li><a routerLink="/notes">Notes</a></li>
    </ul>

    <button class="text-off-white align-baseline">Logout</button>
</aside>