
/* Active tab style */
.active {
    color: #44F6E1;
}

.focus {
    background-color: #44F6E1;
}

.active .list-item {
    background-color: #1D1F21;
}


.sidebar {
    width: 200px;
    height: 100%;
    background-color: #3D4348;
    color: #D9D9D9;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: width 1s;
}

.sidebar-top,
.sidebar-bottom,
.sidebar-center {
    display: flex;
    align-items: center;
    width: 80%;
    /* background-color: none; */
    padding: 10px 0;
    margin-bottom: 10px;
    border-bottom: 1px solid #D9D9D9;
}

 .sidebar-bottom {
    border: none;
    justify-content: center;
 }

 .logo {
    font-size: 20px;
    margin-right: 10px;
    cursor: pointer;
    padding-left: 30px;
 }

 .brand {
    font-weight: bold;
    cursor: pointer;
    padding-left: 5px;
 }

 .list {
    list-style: none;
    padding: 0;
    width: 100%;
 }

 .list-item {
   display: flex;
   justify-content: space-between;
   align-items: center;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    /* background-color: none; */
    padding: 10px;
    border-radius: 10px;
 }

 .list-icon {
    width: 30px;
    font-size: 20px;
 }
 

 .list-item:hover,
 .list-item.active {
    color: #44F6E1;
 }

 /* .color-box {
    width: 20px;
    height: 20px;
    border: 1px solid #fff;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 15px;
 } */

 /* .night-theme {
    background-color: #312e81;
 }

 .light-theme {
    background-color: #f3f4f6;
 }

 .dark-theme {
    background-color: #111827;
 } */


 /* .sidebar.night-theme {
    background-color: #44F6E1;
    color: #D9D9D9;
 } */

 .badge {
   background-color: #D9D9D9;
 }
 
 .badge:hover {
   background-color: #44F6E1;
 }

 
.logout {
    width: 30px;
    font-size: 30px;
}




/* Side bar responsive starts here */
@media only screen and (max-width: 768px) {
   .sidebar {
       width: 50px;
   }

   .sidebar-top,
   .sidebar-bottom,
   .sidebar-center {
       border-bottom: none;
   }

   .brand,
   .list-item-text {
       display: none;
   }
}
/* Side bar responsive ends here */


















