<div class="flex">
    <app-dashboard></app-dashboard>

    <div class="bg-dark w-full min-h-screen">
        <div class="m-6">
            <div class="flex justify-between items-center text-off-white mb-12">
                <p class="text-off-white font-bold">Profile</p> 
            </div> 
            

            <form>

                <div class="flex justify-between gap-20 mb-12">
                    <div class="flex flex-col justify-between">
                        <img src="assets/temps/portrait.png" alt="profile" class="w-60 h-60 rounded-full mb-12 mx-auto" />
                        <button class="bg-off-white w-60 rounded-md shadow-md shadow-dark-gray py-[4px] font-bold text-dark-gray mx-auto">Update Image</button>
                    </div>

                    <div class="flex flex-col justify-between w-full">
                        <div>
                            <label class="text-off-white text-xs" for="fname">First Name</label>
                            <input type="text" name="fname" class="w-full border-b-[1px] text-white border-off-white bg-transparent outline-none" />
                        </div>
                        <div>
                            <label class="text-off-white text-xs" for="lname">Last Name</label>
                            <input type="text" name="lname" class="w-full border-b-[1px] text-white border-off-white bg-transparent outline-none" />
                        </div>
                        <div class="">
                            <label class="text-off-white text-xs" for="email">Email</label>
                            <input type="text" name="email" class="w-full border-b-[1px] text-white border-off-white bg-transparent outline-none" />
                        </div>


                        <div class="flex justify-between gap-20">
                        <!-- <div class="flex justify-between gap-20 lg:flex-col"> -->
                            <div class="w-full">
                                <label class="text-off-white text-xs" for="password">Password</label>
                                <input type="text" name="password" class="w-full border-b-[1px] text-white border-off-white bg-transparent outline-none" />
                            </div>
                            <div class="w-full">
                                <label class="text-off-white text-xs" for="confirm-password">ConfirmPassword</label>
                                <input type="text" name="confirm-password" class="w-full border-b-[1px] text-white border-off-white bg-transparent outline-none" />
                            </div>                            
                        </div>
                    </div>

                </div>


                <div class="text-dark flex gap-4 justify-end">
                    <button class="bg-cyan w-20 font-bold rounded-md shadow-md py-[4px] hover:opacity-75">Save</button>
                    <button class="bg-red w-20 font-bold rounded-md shadow-md py-[4px] hover:opacity-75" routerLink="/items">Cancel</button>
                </div>

            </form>
        </div>
    </div>
</div>