<!-- Header starts here-->
<div class="flex justify-between items-center mb-12">
    <ng-content></ng-content>
    <!-- User profile -->
    <div class="flex items-center cursor-pointer" routerLink="/profile" *ngIf="userProfile">
        <img src="assets/temps/portrait.png" alt="logo" class="w-12 mb-2 mr-4 rounded-full" />
        <div class="text-xs hidden sm:block text-off-white"><p>{{userProfile.first_nm }} {{ userProfile.last_nm}}</p>
            <p class="text-off-white">{{userProfile.email}}</p>
        </div>
    </div>
</div>
<!-- Header ends here-->