<!-- Header starts here-->
<div class="flex justify-between items-center mb-12">
    <ng-content></ng-content>
    <!-- User profile -->
    <div class="flex items-center cursor-pointer" routerLink="/profile">
        <img src="assets/temps/portrait.png" alt="logo" class="w-12 mb-2 mr-4 rounded-full" />
        <div class="text-xs hidden sm:block">
            <p class="font-bold text-white">Moya James</p>
            <p class="text-off-white">sampleEmail@gmail.com</p>
        </div>
    </div>
</div>
<!-- Header ends here-->