<main class="h-screen bg-no-repeat bg-cover bg-center bg-[url(assets/backgrounds/bg1.png)]">

    <div class="register-container w-1/2 h-fit flex items-stretch rounded-md overflow-hidden">

        <!-- Welcome -->
        <div class="max-lg:hidden w-1/3 bg-no-repeat bg-cover bg-center bg-[url(assets/backgrounds/bg2.png)]">
            <div class="bg-dark p-6 h-full bg-opacity-50">
                <div class="flex flex-col justify-between h-full">
                    <h1 class="text-2xl text-off-white text-center">Welcome back</h1>
                    <p class="text-off-white text-center">If you already have an account, log in here</p>
                    
                    <div class="flex flex-col items-center mb-8">
                        <button class="bg-off-white w-40 rounded-md shadow-md shadow-dark-gray py-[4px] hover:opacity-90" routerLink="/login">Login</button>
                    </div>                 
                </div>
            </div>
        </div>

        
        <!-- Register -->
        <div class="bg-white w-2/3 max-lg:w-full p-6 text-dark-gray max-lg:rounded-tr-md max-lg:rounded-br-md">
            <h1 class="text-2xl text-center mb-4">Register</h1>
            <form (ngSubmit)="onSubmit(form)" #form="ngForm">
                <div>
                    <div class="flex justify-between gap-8">
                        <div class="register-input">
                            <input 
                                type="text" 
                                name="fname" 
                                placeholder="" 
                                minlength="3"
                                maxlength="20"
                                required
                                [(ngModel)]="data.first_nm" 
                                #fname="ngModel"
                                [class.invalid]="fname.invalid && (fname.dirty || fname.touched)"
                                [class.valid]="fname.valid && (fname.dirty || fname.touched)"
                                (input)="restrictInput($event)"
                                pattern="[a-zA-Z]*"
                            />
                            <label for="fname">First Name</label>

                            <div class="text-red text-xs" *ngIf="fname.invalid && (form.submitted || fname.dirty || fname.touched)">
                                <div *ngIf="fname.errors?.['required']">First Name is required</div>
                                <div *ngIf="fname.errors?.['minlength']">First Name must be at least 3 characters long</div>
                                <div *ngIf="fname.errors?.['maxlength']">First Name cannot be more than 50 characters long</div>
                                <div *ngIf="fname.errors?.['pattern']">invalid characters in First Name</div>
                            </div>
                        </div>
                        
                        <div class="register-input">
                            <input 
                                type="text" 
                                name="lname" 
                                placeholder=""
                                minlength="3" 
                                maxlength="20" 
                                required 
                                [(ngModel)]="data.last_nm" 
                                #lname="ngModel"
                                [class.invalid]="lname.invalid && (lname.dirty || lname.touched)"
                                [class.valid]="lname.valid && (lname.dirty || lname.touched)"
                                (input)="restrictInput($event)"
                                pattern="[a-zA-Z]*"
                            />
                            <label for="lname">Last Name</label>
                            <div class="text-red text-xs" *ngIf="lname.invalid && (form.submitted || lname.dirty || lname.touched)">
                                <div *ngIf="lname.errors?.['required']">Last Name is required</div>
                                <div *ngIf="lname.errors?.['minlength']">Last Name must be at least 3 characters long</div>
                                <div *ngIf="lname.errors?.['maxlength']">Last Name cannot be more than 50 characters long</div>
                                <div *ngIf="lname.errors?.['pattern']">invalid characters in Last Name</div>
                            </div>
                        </div>
                    </div>
                    <div class="register-input">
                        <input 
                            type="text" 
                            name="email" 
                            placeholder="" 
                            [(ngModel)]="data.email" 
                            required
                            email
                            #email="ngModel"
                            minlength="3"
                            maxlength="50" 
                            [class.invalid]="email.invalid && (email.dirty || email.touched)"
                            [class.valid]="email.valid && (email.dirty || email.touched)"
                        />
                        <label for="email">Email</label>

                        <div class="text-red text-xs" *ngIf="email.invalid && (form.submitted || email.dirty || email.touched)">
                            <div *ngIf="email.errors?.['required']">Email is required</div>
                            <div *ngIf="email.errors?.['minlength']">Email must be at least 3 characters long</div>
                            <div *ngIf="email.errors?.['maxlength']">Email cannot be more than 50 characters long</div>
                            <div *ngIf="email.errors?.['email']">Invalid email format</div>
                            <div *ngIf="email.errors?.['unique']">{{email.errors?.['unique']}}</div>
                        </div>
                    </div>
                    
                    <div class="flex justify-between gap-8">                        
                        <div class="register-input">                           
                        
                            <label for="password">Password</label>
            
                            <app-password-visibility name="password" [(value)]="data.password" #registerPsswrd="passwordVisibility"></app-password-visibility >
            
                            <div class="text-red text-xs" *ngIf="registerPsswrd.control?.invalid && (form.submitted || registerPsswrd.control?.dirty || registerPsswrd.control?.touched)">
                                <div *ngIf="registerPsswrd.control?.errors?.['required']">Password is required.</div>
                                <div *ngIf="registerPsswrd.control?.errors?.['minlength']">Password must be at least 6 characters long.</div>
                                <div *ngIf="registerPsswrd.control?.errors?.['maxlength']">Password cannot be more than 50 characters long.</div>
                            </div>                      
                        </div>
                        
                        
                        <div class="register-input">
                            <label for="confirmPassword">Confirm Password</label>
            
                            <app-password-visibility name="confirmPassword" [(value)]="data.confirm_password" #confirmPsswrd="passwordVisibility"></app-password-visibility >
            
                            <div class="text-red text-xs" *ngIf="confirmPsswrd.control?.invalid && (form.submitted || confirmPsswrd.control?.dirty || confirmPsswrd.control?.touched)">
                                <div *ngIf="confirmPsswrd.control?.errors?.['required']">Password is required.</div>
                                <div *ngIf="confirmPsswrd.control?.errors?.['minlength']">Password must be at least 6 characters long.</div>
                                <div *ngIf="confirmPsswrd.control?.errors?.['maxlength']">Password cannot be more than 50 characters long.</div>
                            </div>
                        </div>   
                        
                    </div>

                </div>

                <div class="flex flex-col items-center mb-4">
                    <div class="my-4">
                        <button type="submit" class="bg-cyan w-40 rounded-md shadow-md shadow-off-white py-[4px] hover:opacity-90" routerLink="/register">Register</button>
                    </div>
                    <a routerLink="/login" class="text-blue-700 text-xs max-lg:mt-4 max-lg:text-center hidden max-lg:block">Login</a>
                </div>
<!--                 
                <p class="text-center text-xs">Or use your account</p>
                
                <div class="flex gap-4 max-w-max mx-auto mt-4">
                    <button><img class="w-8 rounded-full" src="assets/images/logos/facebook.png" alt="Fackbook logo" /></button>
                    <button><img class="w-8 rounded-full" src="assets/images/logos/google.png" alt="Google logo" /></button>
                </div> -->
            </form>
        </div>

    </div>
</main>