<div class="flex">
    <app-dashboard></app-dashboard>

    <div class="bg-dark w-full min-h-screen ml-[200px]">
        <div class="m-6">   
            <div class="flex justify-between items-center text-off-white mb-12">
                <p class="font-bold">View Item</p>     
            </div>         
    
      
            <form class="w-full">
                <div class="flex flex-col mt-8 mb-12 text-off-white">
                    <label class="text-xs" for="username">Username</label>
                    <input [(ngModel)]="itemDetail.username" class="w-full border-b-[1px] text-white border-off-white bg-transparent outline-none" type="text" name="username" required="" />
                </div>
                <div class="flex flex-col mt-8 mb-12">
                    <label class="text-xs text-off-white" for="password">Password</label>
                    <div class="flex justify-between border-b-[1px] border-off-white text-white">
                        <input [(ngModel)]="itemDetail.password" type="{{isPasswordVisible ? 'text' : 'password'}}" class="w-full bg-transparent outline-none" type="password" name="password" required="" />
                        <button type="button" (click)="togglePasswordVisibility()" *ngIf="itemDetail.password">
                            <span class="hover:opacity-70" *ngIf="!isPasswordVisible"><i class="fa-solid fa-eye"></i></span>
                            <span class="hover:opacity-70" *ngIf="isPasswordVisible"><i class="fa-solid fa-eye-slash"></i></span>
                        </button>
                    </div>
                </div>

                <div class="flex flex-col mt-8 mb-12">
                    <label class="text-xs text-off-white" for="website">Website</label>
                    <input [(ngModel)]="itemDetail.website" class="w-full border-b-[1px] border-off-white bg-transparent outline-none text-white" type="text" name="website" required="" />
                </div>
                <div class="flex flex-col mt-8 mb-4">
                    <label class="text-xs text-off-white" for="note">Note</label>
                    <textarea [(ngModel)]="itemDetail.note" name="note" class="text-dark p-4 w-full b border-b-[1px] bg-off-white rounded-md outline-none " rows="5">
                </textarea>
                </div>

                <div class="flex justify-between items-center">
                    <div class="flex items-center gap-2">
                        <input [(ngModel)]="itemDetail.favorite" type="checkbox" checked="checked" class="checkbox checkbox-accent checkbox-sm" name="favorite" id="favorite" />
                        <label class="text-off-white" for="favorite">Favorite</label>
                    </div>
                    <div class="text-dark flex gap-4 justify-end">
                        <button class="bg-cyan w-20 font-bold rounded-md shadow-md py-[4px] hover:opacity-75" (click)="updateItem(itemDetail)">Save</button>
                        <button class="bg-red w-20 font-bold rounded-md shadow-md py-[4px] hover:opacity-75" routerLink="/items">Cancel</button>
                    </div>
                </div>
            </form>

        </div>

    </div>
</div>