<div class="flex">
    <app-dashboard></app-dashboard>

    <div class="bg-dark w-full min-h-screen ml-[200px]">
        <div class="m-6">            
            <p class="text-off-white font-bold mb-12">Add Note</p>                  
    
      
            <form class="w-full" (submit)="addNote()">
                <div class="flex flex-col mt-8 mb-12 text-off-white">
                    <label class="text-xs" for="title">Title</label>
                    <input class="w-full border-b-[1px] text-white border-off-white bg-transparent outline-none" type="text" name="title" required="" [(ngModel)]="data.title" />
                </div>
                <div class="flex flex-col mt-8 mb-4">
                    <label class="text-xs text-off-white" for="note">Note</label>
                    <textarea name="note" class="text-dark p-4 w-full b border-b-[1px] bg-off-white rounded-md outline-none " rows="5" [(ngModel)]="data.note"></textarea>
                </div>

                <div class="flex justify-end items-center">
                    <div class="text-dark flex gap-4 justify-end">
                        <button class="bg-cyan w-20 font-bold rounded-md shadow-md py-[4px] hover:opacity-75">Save</button>
                        <button class="bg-red w-20 font-bold rounded-md shadow-md py-[4px] hover:opacity-75" routerLink="/notes">Cancel</button>
                    </div>
                </div>
            </form>

        </div>

    </div>
</div>