<div class="flex">
    <app-dashboard></app-dashboard>

    <div class="bg-dark w-full min-h-screen">
        <div class="m-6">

            <!-- Header starts here-->
            <app-header>
                <!-- Search bar -->
                <div class="flex w-56 rounded-md items-center bg-off-white text-dark-gray">
                    <input type="search" class="w-full p-2 bg-transparent outline-none" placeholder="Search..." [(ngModel)]="searchQuery" (input)="applySearchFilter()" />
                </div>

            </app-header>
            <!-- Header ends here-->

           <div class="flex justify-between items-center mb-8">
                <p class="text-off-white font-bold">Notes</p>
                
                <span>
                    <a class="text-[1.5rem] py-[6px] px-[12px] bg-cyan text-dark rounded-md" routerLink="/add-note"><i class="fa-solid fa-plus"></i></a>
                </span>                
            </div>

            <!-- Listing -->        

            <div class="min-h-[35rem]">
                <div class="grid grid-cols-1 gap-8 md:grid-cols-2 relative" *ngIf="filteredNotes.length > 0">
                    <div class="bg-off-white rounded-md flex justify-between items-center cursor-pointer p-4 h-[7.25rem] overflow-hidden relative" *ngFor="let note of filteredNotes" routerLink="{{note.item ? '/item-form/' + note.item._id : '/note-form/' + note._id}}"> <!-- If note has an item, go to item-form, else go to note-form -->
     
                         <div class="flex items-center">

                            <!-- only show logo if the note is linked to an item -->
                             <div class="mr-8" *ngIf="note.item">
                                 <img src="assets/images/logos/yahoo.png" alt="logo" class="w-8 rounded-full mx-auto" />
                             </div>
                            <!--- ---------------------------------------- -->

                             <div class="overflow-hidden text-ellipsis">
                                 <p class="text-xs text-dark-gray font-thin mb-4 absolute top-2 left-2 opacity-80">{{note.createdAt | date: 'MMM d y, h:mm:ss a'}}</p>
                                 <p class="text-dark text-xl text-ellipsis overflow-hidden whitespace-nowrap w-56 max-md:44 font-bold">{{note.title}}</p>
                                 <p class="text-dark text-xl text-ellipsis overflow-hidden whitespace-nowrap w-56 max-md:44 font-bold">{{note.item?.username}}</p>
                                 <p class="text-dark-gray text-ellipsis overflow-hidden whitespace-nowrap w-56">{{note.note}}</p>
                             </div>
                         </div>
     
                         <div class="">
                             <button (click)="deleteNote($event, note._id)" class=" hover:bg-red text-red bg-dark-gray hover:text-white h-8 w-8 rounded-full shadow-sm shadow-dark items-center absolute -translate-y-1/2 right-4">   
                                 <span class="max-w-max align-middle">
                                     <i class="fa-solid fa-x"></i>
                                 </span>   
                             </button>
                         </div>
     
                    </div>
                </div>
            </div>


           <!-- >>>>>>>>>> No item section <<<<<<<<<< -->
           <div *ngIf="loading" class="loader"></div>

            <!-- No items -->
            <div *ngIf="!loading">

                <!-- Content when not loading -->
            
                <!--No favorited item -->
                <div *ngIf="filteredNotes.length === 0">
                    <div class="">
                        <h1 class="text-off-white font-bold text-center pb-8">No items favorited</h1>
                        <img src="assets/backgrounds/no-item.jpg" alt="no-items" class="w-[28rem] mx-auto rounded-md">
                    </div>
                </div>
                <!-- ----------------------- -->

            </div>            
            <!-- >>>>>>>>>><<<<<<<<<< -->


            <!-- Pagination buttons starts here-->            
            <div class="relative w-full" *ngIf="totalNotes > notesPerPage">
                <app-pagination
                    [currentPage]="currentPage"
                    [totalPages]="calculateTotalPages()"
                    (pageChange)="onPageChange($event)"
                    class="bottom-0 left-0 right-0"
                    >
                </app-pagination>
            </div>
            <!-- Pagination buttons ends here-->



            
        </div>

    </div>
</div>


