<div class="flex">
    <app-dashboard></app-dashboard>

    <div class="bg-dark w-full min-h-screen ml-[200px]">
        <div class="m-6">

            <!-- Header starts here-->
            <div class="flex justify-between items-center mb-12">
               <!-- Search bar -->
               <div class="flex w-56 rounded-md items-center bg-off-white text-dark-gray">
                   <input type="text" class="w-full p-2 bg-transparent outline-none" placeholder="Search..." />
                   <button class="px-2 border-l-2 border-l-dark-gray">
                       <i class="fa-solid fa-magnifying-glass"></i>
                   </button>
               </div>
   
               <!-- User profile -->
               <div class="flex items-center">
                <img src="assets/temps/portrait.png" alt="logo" class="w-12 mb-2 mr-4 rounded-full" />
                   <div class="text-xs">
                       <p class="font-bold text-white">Moya James</p>
                       <p class="text-off-white">sampleEmail@gmail.com</p>
                   </div>
               </div>
           </div>
           <!-- Header ends here-->

           <p class="text-off-white mb-8 font-bold">Notes</p>

           <div>
            <table class="bg-off-white w-full">
                <thead class="text-left bg-dark-gray text-off-white shadow-[0.5px_0.5px_10px] shadow-dark-gray">
                    <th class="p-2">Details</th>
                    <th class="p-2">Title</th>
                    <th class="p-2">Notes</th>
                    <th class="p-2">Action</th>
                </thead>
                <tbody>
                    
                    <tr class="border-b-[1px] border-dark-gray">
                        <td class="flex items-center px-2 py-4">                            
                            <img src="assets/logos/yahoo.png" alt="logo" class="w-8 rounded-full mr-4" />
                            <div>
                                <p class="font-bold">yahoo</p>
                                <p class="text-xs">sampleUsername</p>
                            </div>
                        </td>

                        <td class="p-2">Lorem ipsum dolor sit amet</td>
                        <td class="p-2">*********************************</td>
                        
                        <td class="p-2">
                            <button><i class="fa-solid fa-pen-to-square"></i></button>
                            <button class="mx-2"><i class="fa-solid fa-eye"></i></button>
                            <button><i class="fa-solid fa-trash"></i></button>
                        </td>
                    </tr>

                    <tr class="border-b-[1px] border-dark-gray">
                        <td class="flex items-center px-2 py-4">                            
                            <img src="assets/logos/facebook.png" alt="logo" class="w-8 rounded-full mr-4" />
                            <div>
                                <p class="font-bold">facebook</p>
                                <p class="text-xs">sampleUsername</p>
                            </div>
                        </td>

                        <td class="p-2">Lorem ipsum dolor sit amet</td>
                        <td class="p-2">*********************************</td>
                        
                        <td class="p-2">
                            <button><i class="fa-solid fa-pen-to-square"></i></button>
                            <button class="mx-2"><i class="fa-solid fa-eye"></i></button>
                            <button><i class="fa-solid fa-trash"></i></button>
                        </td>
                    </tr>

                    <tr class="border-b-[1px] border-dark-gray">
                        <td class="flex items-center px-2 py-4">                            
                            <img src="assets/logos/instagram.png" alt="logo" class="w-8 rounded-full mr-4" />
                            <div>
                                <p class="font-bold">Instagram</p>
                                <p class="text-xs">sampleUsername</p>
                            </div>
                        </td>

                        <td class="p-2">Lorem ipsum dolor sit amet</td>
                        <td class="p-2">*********************************</td>
                        
                        <td class="p-2">
                            <button><i class="fa-solid fa-pen-to-square"></i></button>
                            <button class="mx-2"><i class="fa-solid fa-eye"></i></button>
                            <button><i class="fa-solid fa-trash"></i></button>
                        </td>
                    </tr>

                    <tr class="border-b-[1px] border-dark-gray">
                        <td class="flex items-center px-2 py-4">                            
                            <img src="assets/logos/linkedin.png" alt="logo" class="w-8 rounded-full mr-4" />
                            <div>
                                <p class="font-bold">Linkedin</p>
                                <p class="text-xs">sampleUsername</p>
                            </div>
                        </td>

                        <td class="p-2">Lorem ipsum dolor sit amet</td>
                        <td class="p-2">*********************************</td>
                        
                        <td class="p-2">
                            <button><i class="fa-solid fa-pen-to-square"></i></button>
                            <button class="mx-2"><i class="fa-solid fa-eye"></i></button>
                            <button><i class="fa-solid fa-trash"></i></button>
                        </td>
                    </tr>

                    <tr class="border-b-[1px] border-dark-gray">
                        <td class="flex items-center px-2 py-4">                            
                            <img src="assets/logos/titok.png" alt="logo" class="w-8 rounded-full mr-4" />
                            <div>
                                <p class="font-bold">Titok</p>
                                <p class="text-xs">sampleUsername</p>
                            </div>
                        </td>

                        <td class="p-2">Lorem ipsum dolor sit amet</td>
                        <td class="p-2">*********************************</td>
                        
                        <td class="p-2">
                            <button><i class="fa-solid fa-pen-to-square"></i></button>
                            <button class="mx-2"><i class="fa-solid fa-eye"></i></button>
                            <button><i class="fa-solid fa-trash"></i></button>
                        </td>
                    </tr>

                    <tr class="border-b-[1px] border-dark-gray">
                        <td class="flex items-center px-2 py-4">                            
                            <img src="assets/logos/twitter.png" alt="logo" class="w-8 rounded-full mr-4" />
                            <div>
                                <p class="font-bold">Twitter</p>
                                <p class="text-xs">sampleUsername</p>
                            </div>
                        </td>

                        <td class="p-2">Lorem ipsum dolor sit amet</td>
                        <td class="p-2">*********************************</td>
                        
                        <td class="p-2">
                            <button><i class="fa-solid fa-pen-to-square"></i></button>
                            <button class="mx-2"><i class="fa-solid fa-eye"></i></button>
                            <button><i class="fa-solid fa-trash"></i></button>
                        </td>
                    </tr>

                    <tr class="border-b-[1px] border-dark-gray">
                        <td class="flex items-center px-2 py-4">                            
                            <img src="assets/logos/youtube.png" alt="logo" class="w-8 rounded-full mr-4" />
                            <div>
                                <p class="font-bold">Youtube</p>
                                <p class="text-xs">sampleUsername</p>
                            </div>
                        </td>

                        <td class="p-2">Lorem ipsum dolor sit amet</td>
                        <td class="p-2">*********************************</td>
                        
                        <td class="p-2">
                            <button><i class="fa-solid fa-pen-to-square"></i></button>
                            <button class="mx-2"><i class="fa-solid fa-eye"></i></button>
                            <button><i class="fa-solid fa-trash"></i></button>
                        </td>
                    </tr>

                    <tr class="border-b-[1px] border-dark-gray">
                        <td class="flex items-center px-2 py-4">                            
                            <img src="assets/logos/google.png" alt="logo" class="w-8 rounded-full mr-4" />
                            <div>
                                <p class="font-bold">Google</p>
                                <p class="text-xs">sampleUsername</p>
                            </div>
                        </td>

                        <td class="p-2">Lorem ipsum dolor sit amet</td>
                        <td class="p-2">*********************************</td>
                        
                        <td class="p-2">
                            <button><i class="fa-solid fa-pen-to-square"></i></button>
                            <button class="mx-2"><i class="fa-solid fa-eye"></i></button>
                            <button><i class="fa-solid fa-trash"></i></button>
                        </td>
                    </tr>

                   
                </tbody>
            </table>
           </div>



            
        </div>

    </div>
</div>


