<!-- Backdrop -->

<div class="flex items-center justify-center min-h-screen bg-no-repeat bg-cover bg-center bg-[url(assets/backgrounds/bg1.png)]">
    <div class="w-1/4 bg white p-6 rounded-lg shadow-lg bg-white">
        <h3 class="text-lg font-semibold mb-4">Verification code</h3>
        <!-- Form for forgot password -->
        <form>
            
            <div class="form-Group mb-4">
                <p>Enter your new password</p>
                <input class="p-2 bg-[#f1f1f1] rounded-md outline-none w-full" type="email" name="forgotPassword" id="forgotPassword">
            </div>                    
            
            <!-- Actions buttons -->
            <div class="mt-6 flex justify-end gap-2">
                <!-- Submit button for changing password -->
                <a class="btn bg-cyan" type="submit" href="/reset-password">Continue</a>
                <!-- <button class="btn bg-cyan" type="submit">Continue</button> -->
                <!-- Cancel button to close the modal -->
                <a class="btn bg-red" type="button" href="/login">Cancel</a>
            </div>
        </form>

    </div>
</div>

