<!-- Backdrop -->
<div class="backdrop" *ngIf="open"></div>

<!-- Change Password Modal -->
<dialog class="modal-box" id="changePasswordModal" [open]="open">
    <div>
        <h3 class="modal-title">Change Password</h3>
        <!-- Form for changing password -->
        <form (ngSubmit)="changePassword(passwordForm)" #passwordForm="ngForm">
            <!-- Current Password Input -->
            <div class="form-Group">
                <label for="currentPassword">Current Password</label>

                <app-password-visibility name="currentPassword" [(value)]="currentPassword" #currentPsswrd="passwordVisibility"></app-password-visibility>

                <div class="text-red text-xs" *ngIf="currentPsswrd.control?.invalid && (passwordForm.submitted || currentPsswrd.control?.dirty || currentPsswrd.control?.touched)">
                    <div *ngIf="currentPsswrd.control?.errors?.['required']">Password is required.</div>
                    <div *ngIf="currentPsswrd.control?.errors?.['minlength']">Password must be at least 3 characters long.</div>
                    <div *ngIf="currentPsswrd.control?.errors?.['maxlength']">Password cannot be more than 50 characters long.</div>
                </div>
            </div>

            
            <!-- New Password Input -->
            <div class="form-Group">
                <label for="newPassword">New Password</label>

                <app-password-visibility name="newPassword" [(value)]="newPassword" #newPsswrd="passwordVisibility"></app-password-visibility >

                <div class="text-red text-xs" *ngIf="newPsswrd.control?.invalid && (passwordForm.submitted || newPsswrd.control?.dirty || newPsswrd.control?.touched)">
                    <div *ngIf="newPsswrd.control?.errors?.['required']">Password is required.</div>
                    <div *ngIf="newPsswrd.control?.errors?.['minlength']">Password must be at least 6 characters long.</div>
                    <div *ngIf="newPsswrd.control?.errors?.['maxlength']">Password cannot be more than 50 characters long.</div>
                </div>
            </div>

            
            <!-- Confirm Password Input -->
            <div class="form-Group">
                <label for="confirmPassword">Confirm Password</label>

                <app-password-visibility name="confirmPassword" [(value)]="confirmPassword" #confirmPsswrd="passwordVisibility"></app-password-visibility>

                <div class="text-red text-xs" *ngIf="confirmPsswrd.control?.invalid && (passwordForm.submitted || confirmPsswrd.control?.dirty || confirmPsswrd.control?.touched)">
                    <div *ngIf="confirmPsswrd.control?.errors?.['required']">Password is required.</div>
                    <div *ngIf="confirmPsswrd.control?.errors?.['minlength']">Password must be at least 6 characters long.</div>
                    <div *ngIf="confirmPsswrd.control?.errors?.['maxlength']">Password cannot be more than 50 characters long.</div>
                </div>
            </div>

            <!-- Error Message -->
            <div class="text-red text-xs" *ngIf="changePasswordError">
                {{ changePasswordError }}
            </div>
            
            <!-- Modal Actions -->
            <div class="modal-action">
                <!-- Submit button for changing password -->
                <button class="btn bg-cyan" type="submit" [disabled]="passwordForm.invalid" [ngClass]="{'disabled-btn': passwordForm.invalid}">Change Password</button>
                <!-- Cancel button to close the modal -->
                <button class="btn bg-red" type="button" (click)="closeModal()">Cancel</button>
            </div>
        </form>

    </div>
</dialog>

