<div class="flex">
    <app-dashboard></app-dashboard>

    <div class="bg-dark w-full min-h-screen ml-[200px]">
        <div class="m-6">

            <!-- Header starts here-->
            <div class="flex justify-between items-center mb-12">
                <!-- Search bar -->
                <div class="flex w-56 rounded-md items-center bg-off-white text-dark-gray">
                    <input type="text" class="w-full p-2 bg-transparent outline-none" placeholder="Search..." />
                    <button class="px-2 border-l-2 border-l-dark-gray">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>

                <!-- User profile -->
                <div class="flex items-center">
                    <img src="assets/temps/portrait.png" alt="logo" class="w-12 mb-2 mr-4 rounded-full" />
                    <div class="text-xs">
                        <p class="font-bold text-white">Moya James</p>
                        <p class="text-off-white">sampleEmail@gmail.com</p>
                    </div>
                </div>
            </div>
            <!-- Header ends here-->

            <div class="flex justify-between items-center mb-8">
                <p class="text-off-white font-bold">Items</p>
                
                <span>
                    <a class="text-[1.5rem] py-[6px] px-[12px] bg-cyan text-dark rounded-md" routerLink="/add-item"><i class="fa-solid fa-plus"></i></a>
                </span>                
            </div>
            

            <!-- Listings -->
            <div class="grid grid-cols-3 gap-8">
                
                <div class="bg-off-white text-dark-gray rounded-md p-4 flex-wrap">
                    <div class="mb-4 max-w-max mx-auto">
                        <img src="assets/logos/google.png" alt="logo" class="w-20" />
                    </div>
                    <p class="text-dark-gray font-bold text-[1.5rem]">Google</p>
                    <div class="flex justify-between items-center">
                        <p>sampleEmail@gmail.com</p>
                        <span class="text-[1.5rem]"><i class="fa-solid fa-heart"></i></span>
                    </div>
                </div>

                <div class="bg-off-white text-dark-gray rounded-md p-4 flex-wrap">
                    <div class="mb-4 max-w-max mx-auto">
                        <img src="assets/logos/facebook.png" alt="logo" class="w-20" />
                    </div>
                    <p class="text-dark-gray font-bold text-[1.5rem]">Google</p>
                    <div class="flex justify-between items-center">
                        <p>sampleEmail@gmail.com</p>
                        <span class="text-[1.5rem]"><i class="fa-solid fa-heart"></i></span>
                    </div>
                </div>

                <div class="bg-off-white text-dark-gray rounded-md p-4 flex-wrap">
                    <div class="mb-4 max-w-max mx-auto">
                        <img src="assets/logos/instagram.png" alt="logo" class="w-20" />
                    </div>
                    <p class="text-dark-gray font-bold text-[1.5rem]">Instagram</p>
                    <div class="flex justify-between items-center">
                        <p>sampleEmail@gmail.com</p>
                        <span class="text-[1.5rem]"><i class="fa-solid fa-heart"></i></span>
                    </div>
                </div>

                <div class="bg-off-white text-dark-gray rounded-md p-4 flex-wrap">
                    <div class="mb-4 max-w-max mx-auto">
                        <img src="assets/logos/linkedin.png" alt="logo" class="w-20" />
                    </div>
                    <p class="text-dark-gray font-bold text-[1.5rem]">Linkedin</p>
                    <div class="flex justify-between items-center">
                        <p>sampleEmail@gmail.com</p>
                        <span class="text-[1.5rem]"><i class="fa-solid fa-heart"></i></span>
                    </div>
                </div>

                <div class="bg-off-white text-dark-gray rounded-md p-4 flex-wrap">
                    <div class="mb-4 max-w-max mx-auto">
                        <img src="assets/logos/titok.png" alt="logo" class="w-20" />
                    </div>
                    <p class="text-dark-gray font-bold text-[1.5rem]">Titok</p>
                    <div class="flex justify-between items-center">
                        <p>sampleEmail@gmail.com</p>
                        <span class="text-[1.5rem]"><i class="fa-solid fa-heart"></i></span>
                    </div>
                </div>

                <div class="bg-off-white text-dark-gray rounded-md p-4 flex-wrap">
                    <div class="mb-4 max-w-max mx-auto">
                        <img src="assets/logos/twitter.png" alt="logo" class="w-20" />
                    </div>
                    <p class="text-dark-gray font-bold text-[1.5rem]">Twitter</p>
                    <div class="flex justify-between items-center">
                        <p>sampleEmail@gmail.com</p>
                        <span class="text-[1.5rem]"><i class="fa-solid fa-heart"></i></span>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

