/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Poppins, Roboto, "Helvetica Neue", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* Loader style starts here */
.loader {
    /* Center div */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /*Loader div style*/
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 10px solid #D9D9D9;
    border-top-color: #44F6E1;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/



/* Login and Register CSS starts here */
.login-container, .register-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: px;
}

.login-container .login-input, .register-container .register-input {
    position: relative;
}

.login-container .login-input input, .register-container .register-input input  {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #3D4348;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #3D4348;
    outline: none;
    background: transparent;
}

.login-container .login-input label, .register-container .register-input label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #3D4348;
    pointer-events: none;
    transition: .5s;
}

.login-container .login-input input:focus ~ label,
.login-container .login-input input:not(:placeholder-shown) ~ label,
.register-container .register-input input:focus ~ label,
.register-container .register-input input:not(:placeholder-shown) ~ label {
    top: -20px;
    left: 0;
    color: #44F6E1;
    font-size: 12px;
}
/* Login and Register CSS ends here */